In [3]:
import mysql.connector

In [10]:
con = mysql.connector.connect(
    host='localhost',
    user='root',
    password='rootuser',
    database='mydb'
)

In [11]:
if con.is_connected():
        print("Connection established successfully.")

Connection established successfully.

In [12]:
cursor = con.cursor()
cursor.execute("SHOW TABLES")

In [13]:
rows = cursor.fetchall()
table_names = [row[0] for row in rows]

In [14]:
cursor.execute("SELECT * FROM automobile")